body {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #2C4BBE;
    color: #ffffff;
}

/* nav hamburger menu color */
.navbar-toggler-icon {
    filter: invert(100%);
}

.navbar-nav .nav-link {
    background-color: #ff8c00;

    color: white; 
}

/* Color for active or hovered nav items */
.nav-link:hover {
    color: #000; 
}


footer {
    background-color: #172D7E;
}

/* Responsive image/video styles */
.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Other responsive and custom styles can be added here */