body {
    font-family: 'Roboto', sans-serif;
    background-color: #2C4BBE;
    color: #ffffff;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bebas Neue', sans-serif;
}


/* nav hamburger menu color */
.navbar-toggler-icon {
    filter: invert(100%);
}

.navbar-nav .nav-link {
    background-color: #ff8c00;

    color: white; 
}

.mobilelandingtagline {
    color: #ff8c00;
}

/* Color for active or hovered nav items */
.nav-link:hover {
    color: #000; 
}

/* logo video setting */
.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* Aspect ratio of 16:9 (100%/16*9 = 56.25%) */
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }


  #toTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none; /* Hidden by default */
    z-index: 99; /* Make sure it appears above other elements */
    /* Additional styles here */
}


footer {
    background-color: #172D7E;
}

/* Responsive image/video styles */
.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Other responsive and custom styles can be added here */